<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Omegle</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="container">
                    <img class="logo" src="Assets/img/Logo.png" alt="">
                    <h2>Talk to stranger</h2>
                    <div class="online-status">5000+ online now</div>
                </div>
            </nav>
        </header>
        <main>
            <div class="main-container">
                <p>You don't need an app to use Omegle on your phone or tablet! The web site works great on mobile.</p>
                <p>
                    Omegle (oh·meg·ull) is a great way to meet new friends, even while practicing social distancing. When you use Omegle, you are paired randomly with another person to talk one-on-one. If you prefer, you can add your interests and you’ll be randomly paired with someone who selected some of the same interests.
                </p>

                <p>
                    To help you stay safe, chats are anonymous unless you tell someone who you are (not recommended!), and you can stop a chat at any time. See our Terms of Service and Community Guidelines for more info about the do’s and don’ts in using Omegle. Omegle video chat is moderated but no moderation is perfect. Users are solely responsible for their behavior while using Omegle.
                </p>
                <p>
                    YOU MUST BE 18 OR OLDER TO USE OMEGLE. See Omegle’s Terms of Service for more info. Parental control protections that may assist parents are commercially available and you can find more info at https://www.connectsafely.org/controls/ as well as other sites.
                </p>
                Please leave Omegle and visit an adult site instead if that's what you're looking for, and you are 18 or older.

                <h2 class="monitored-text">Video is monitored. Keep it clean</h2>
                <div class="action-container">
                    <p class="start-chat">Start Chatting</p>
                    <div class="button-container">
                        <button class="action-button">
                            <a href="/text_chat">Text Chat</a>
                        </button>
                        <button class="action-button">
                            <a href="/video_chat">Video Chat</a>
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <script src="/js/main.js"></script>

    </body>
</html>
