<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Omegle</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="container">
                    <img class="logo" src="/img/Logo.png" alt="">
                    <h2>Talk to stranger</h2>
                    <div class="online-status">5000+ online now</div>
                </div>
            </nav>
        </header>
        <main class="video_chat_main_container">
            <div class="video_chat_container" style="justify-content: center;align-items: center;background-color: lightblue;">
                <div class="video-tag-container" style="display: none;">
                    <div class="videos">
                        <video class="video-player" id="user-1" autoplay="autoplay" playsinnline="playsinnline"></video>
                        <video class="video-player" id="user-2" style="border-top: 2px solid white;" autoplay="autoplay" playsinnline="playsinnline"></video>
                    </div>
                </div>
                <div class="chat-container">
                    <div class="chat-text-container">
                        <p>You are now chatting with a random stranger</p>
                        <p>You both speak the same language - English</p>
                        <hr class="horizontal-divider">
                        <p class="chat-text-area"></p>
                    </div>
                    <div class="next-chat-container">
                        <div class="next-chat">
                            <div>Next</div>
                        </div>
                        <div class="type-message">
                            <textarea name="" id="msg-input" cols="25" rows="5"></textarea>
                        </div>
                        <div class="msg-send-button">Send</div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>

</html>
